body {
    margin: 0;
    padding: 0;

}

.container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.box{
    border: 1px solid #dddddd;
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 10px 10px rgb(209, 142, 142) inset;
}
.box:hover{
    opacity: .9;
}

.icon{
    color: black;
}

@media only screen and (max-width:600px){
    boady{
        background-color: green;

    }
    .container{
        flex-direction: column;
        align-content: flex-end;
    }
}
